#wizard {
  font-family: "Ubuntu", sans-serif;
  color: #0e0e0e;
  width: 100%;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
  background-color: #ffffff;
}
#wizard .step-buttons {
  position: relative;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 0 1px 1px 0;
  background: #ffffff;
}
#wizard .step-button {
  display: inline-block;
  padding: 16px 14px;
  background: #ffffff;
  border: none;
  position: relative;
  outline: none;
}
#wizard .step-button.active {
  color: #ffffff;
  background: #3a4e06;
}
#wizard .step-button.complete {
  color: #ffffff;
  background: #034a74;
}
#wizard .step-button:nth-child(n + 2) {
  padding-left: 24px;
}
#wizard .step-button::after {
  display: block;
  position: absolute;
  z-index: 2;
  content: "";
  top: 50%;
  right: 0;
  border: medium none;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}
#wizard .step-button.active::after {
  background-color: #3a4e06;
}
#wizard .step-button.complete::after {
  background-color: #034a74;
}
#wizard .step-button:last-child::after {
  display: none;
}
#wizard .step-button:hover {
  cursor: pointer;
}
#wizard .step-view {
  position: relative;
  padding: 25px 15px;
  height: 500px;
  overflow-y: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
}
#wizard .success-message {
  position: relative;
  padding: 25px 15px;
  height: 500px;
  overflow-y: auto;
  background-color: #ffffff;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
  text-align: center;
  color: #3a4e06;
}
#wizard .success-message .c-message {
  color: #3a4e06;
}
#wizard .c-message {
  padding: 15px 0;
  text-align: center;
}
#wizard .c-form-group {
  width: 100%;
  padding: 15px 0;
}
#wizard .c-form-label {
  text-align: center;
  padding-bottom: 10px;
  display: block;
}
#wizard .c-form-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.15);
  border-width: 1px;
}
#wizard .c-form-input:focus {
  border-color: #034a74;
}
#wizard .button-steps {
  display: block;
  text-align: right;
  padding: 10px 15px;
  background-color: #ffffff;
}
#wizard .button-steps .button:first-child {
  margin-right: 10px;
}
#wizard .button {
  border-style: solid;
  padding: 10px 15px;
  background-color: #0e0e0e;
  border-color: #0e0e0e;
  color: #ffffff;
  min-height: 40px;
}
#wizard .button-add {
  width: 100%;
  background-color: #3a4e06;
  border-color: #3a4e06;
}
#wizard .button-remove {
  width: 100%;
  background-color: #4f060f;
  border-color: #4f060f;
}
#wizard .button:hover {
  cursor: pointer;
}
#wizard .button:disabled {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  opacity: 0.65;
  cursor: not-allowed;
}
#wizard .c-product {
  display: block;
  padding: 20px;
  border: 1px solid #0e0e0e;
  margin-bottom: 20px;
}
#wizard .c-product.selected {
  background-color: #f1f1f1;
}
#wizard .c-product:last-child {
  margin-bottom: 0;
}
#wizard .c-product-title {
  font-size: 24px;
  font-weight: 500;
}
#wizard .c-product-description {
  padding: 20px 0;
}
#wizard .c-product-price {
  padding: 10px 0;
}
#wizard .c-product-price-label {
  display: inline;
  font-weight: bold;
}
#wizard .c-product .c-form-label {
  text-align: left;
}
#wizard .c-total {
  padding: 0 15px 15px;
  float: left;
  margin-top: -40px;
}
#wizard .c-total-label {
  font-weight: bold;
  display: inline;
}
#wizard .c-form-group.contact-input .c-form-label {
  text-align: left;
}
#wizard .tos-accept {
  background-color: #4f060f;
  padding: 10px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
}
#wizard .tos-accept input {
  margin-left: 10px;
}

#wizard .tos-accept.selected {
  background-color: #3a4e06;
}

#wizard .invalid {
  color: red;
  margin-top: 5px;
}

#wizard .btn-edit {
  border-style: solid;
  padding: 5px;
  background-color: #55b2bb;
  border-color: #000;
  color: #fff;
  font-size: 10px;
  margin-left: 10px;
}

#wizard .btn-edit.description {
  margin-left: 0;
  margin-bottom: 10px;
}

#wizard .btn-edit:hover {
  background-color: #65d6e0;
  color: #000;
  cursor: pointer;
}

#wizard .btn-save {
  border-style: solid;
  padding: 5px;
  background-color: #31ad37;
  border-color: #000;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}

#wizard .btn-cancel {
  border-style: solid;
  padding: 5px;
  background-color: #9b9b9b;
  border-color: #000;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}

#wizard .btn-save:hover {
  background-color: #46f84f;
  color: #fff;
  cursor: pointer;
}

#wizard .btn-cancel:hover {
  background-color: rgb(59, 59, 59);
  color: #fff;
  cursor: pointer;
}

#wizard .public-DraftEditor-content {
  border: 1px solid #f1f1f1;
}

#wizard .full-width {
  width: 100%;
}

#wizard .btn-bigger {
  padding: 8px;
  font-size: 14px;
}

#wizard .right{
  float: right;
}

#wizard .modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#wizard .modal-window.show{
  display: inline-block;
}

#wizard .modal-window>div {
  z-index: 1000;
  width: 50%;
  position: relative;
  margin: 5% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
  border: 1px solid black;
}

#wizard .modal-window header {
  font-weight: bold;
}

#wizard .modal-close {
  color: #aaa;
  border: 0;
  background: none;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

#wizard .modal-close:hover {
  color: #000;
  cursor: pointer;
}

#wizard .modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

#wizard .edit-group{
  margin-bottom: 15px;
}
#wizard .edit-group label{
  margin-bottom: 10px;
}

#wizard .table{
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

#wizard .table tr td{
  padding: 15px;
}
#wizard .table tr:nth-child(even) {
  background-color: #a3a2a29a
}

#wizard .search-container{
  width:50%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

#wizard .clone-button{
  margin: 10px 0;
}